<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club Social</title>
  </head>
  <body>
    <!--MENÚ-->
    <div class="menu_inicio">
      <img src="img/Ceu_logo.png" alt="Social Club" height="40em"/>
      <a href="login.html"><button class="menu_ini_butt">Iniciar Sesión</button></a>
    </div>

    <!--Slide-->
    <div class="slide">
        <img class="mySlides" src="img/facebook.png" width="100%" />
        <img class="mySlides" src="img/google.png" width="100%" />
        <img class="mySlides" src="img/Ceu_logo.png" width="100%" />
    </div>
    <script src="script.js"></script>
  </body>
</html>
