<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <!-- Link a jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Login-->

    <div class="login">
      <h1>Inicio de Sesión</h1>
      <div class="log">
        <input class="inpt_log" id="log_mail" type="text"
          placeholder="DNI/NIE"
        />
        <input class="inpt_log" id="log_pwd" type="text" placeholder="Contraseña" />
        <div class="forget_passwd">
          <a href="#"><img src="img/flecha.png" width="8em"/>¿Has olvidado la contraseña?</a>
          <button class="butt_login" disabled>Iniciar sesión</button>
        </div>
        <div class="other_log">
            <p>Iniciar sesión con</p>
            <div class="other_butt">
            <button class="butt_fbk">
                <img src="img/facebook.png" alt="facebook" width="40em">
                <p>Facebook</p>
            </button>
            <button class="butt_goo">
                <img src="img/google.png" alt="facebook" width="35em">
                <p>Google</p>
            </button>
            </div>
        </div>
      </div>
      <p>¿No tienes cuenta? <button class="register_butt">Registrarse</button></p>
    </div>

    <!--Register-->
        <div class="register">
            <h1>Registro</h1>
            <div class="reg_prov">
              <div>
                <p>Nombre</p>
                <div class="notes">
                  <input type="text" class="txt_reg_prov" id="nom_reg" placeholder="Nombre">
                  <label id="nom_lab"></label>
                </div>
              </div>
              <div>
                <p>Apellidos</p>
                <div class="notes">
                  <input type="text" class="txt_reg_prov" id="apell_reg" placeholder="Apellidos">
                  <label id="apell_lab"></label>
                </div>
              </div>
              <div>
                <p>DNI</p>
                <div class="notes">
                  <input type="text" class="txt_reg_prov" id="dni_reg" placeholder="DNI/NIE">
                  <label id="dni_lab"></label>
                </div>
              </div>
              <div>
                <p>Nº de Familiares</p>
                <div class="notes">
                  <input type="text" class="txt_reg_prov" id="nfam_reg" placeholder="Nº">
                  <label id="nfam_lab"></label>
                </div>
              </div>
              <div>
                <p>Contraseña</p>
                <div class="pwd_reg_prov">
                  <div class="notes">
                    <div>
                      <input type="password" class="txt_reg_prov" id="password">
                      <button class="show_pwd" id="show_pwd">Mostrar Contraseña</button>
                    </div>
                    <label id="pwd_lab"></label>
                  </div>
                </div>
              </div>
              <div>
                <p>Confirmar Contraseña</p>
                <div class="pwd_reg_prov">
                  <div class="notes">
                    <div>
                      <input type="password" class="txt_reg_prov" id="password2">
                      <button class="show_pwd" id="show_pwd2">Mostrar Contraseña</button>
                    </div>
                    <label id="pwd2_lab"></label>
                  </div>
                </div>
              </div>
              <hr>
                <div>
                  <input type="checkbox" id="chk_reg">
                  <label class="terminos">Confirmo que acepto los términos del contrato de la cuenta y que estoy de acuerdo con la política de privacidad.</label>
                </div>
                <hr>
                <div class="butt_reg_p_div">
                  <button class="butt_reg_prov" disabled>Crear</button>
                </div>
            </div>
        </div>

    <script src="script.js"></script>
  </body>
</html>
